.Rproj.user
.Rhistory
.RData
.Ruserdata

*.nc
*.tif
output/Womblemodel_tactical_icar.RData
output/Womblemodel_tactical_icar_clustering.RData
output/Womblemodel_tactical_icar_sitenumber.RData
output/Womblemodel_tactical_phasemodel.RData
output/Womblemodel_tactical_withoutplat_errors.RData
output/Womblemodel_tactical_withplat_errors.RData
output/Womblemodel_tactical_withplat_noerrors.RData
output/Womblemodel_tactical_woa_noerrors.RData